<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paiizz.paiical">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MenuActivity" />
        <activity
            android:name=".activity.InformationActivity"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchMenuActivity"
            android:label="@string/title_activity_search_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ListConsumptionActivity" />
        <activity android:name=".activity.InterestingInfoActivity" />
        <activity android:name=".activity.SearchNameActivity" />
        <activity android:name=".activity.SearchCalorieActivity" />
        <activity android:name=".activity.SearchCategoryActivity" />
        <activity android:name=".activity.ListMenuActivity" />
        <activity android:name=".activity.BMIActivity" />
        <activity android:name=".activity.BMRActivity" />
        <activity android:name=".activity.LoseWeightActivity" />
        <activity android:name=".activity.ControlWeightActivity" />
        <activity android:name=".activity.GoodShapeActivity" />
        <activity android:name=".activity.GoodExerciseActivity"></activity>
    </application>

</manifest>
